*{
    margin: 0.2rem;
    padding: 0;
    border: 0;
}
body{
    background-image: url(https://res.cloudinary.com/dzoewfn82/image/upload/v1747186589/samples/man-on-a-street.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #D3141A;
}
/*Header Principal*/
header{
    background-color: #D3141A;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.rombo {

  margin: 0;
  width: 50px; 
  height: 50px; 
  background-color: #D3141A; 
  transform: rotate(45deg);
  border: 0.15rem solid white;
  border-radius: 5px;
  display: flex;
}

header h1{    
    text-align: center;
    align-content: center;
    /*background: #0A0D38;
    background: linear-gradient(90deg,rgba(10, 13, 56, 1) 0%, rgba(87, 115, 199, 1) 50%, rgba(10, 13, 56, 1) 100%);*/
    
    padding: 1%;
    font-size: 3rem;
}

header div input{
    display: flex ;
    height: 1rem;
    width: 24rem;
    padding: 0.8rem 8rem;
    border-radius: 10px;
    border-style: groove;
}

input[type="text"]::placeholder {
  text-align: left;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;  
    padding: 5px; 
    width: 100px;

}
/*Cuerpo de la pagina*/
section{
    display: block;
}

.banner{
    display: flex;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 1%;
    color: white;
    font-size: 2rem;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%)
}

a{
    color: white;
}

a:hover{
    color: #1E8449;
}

.container{
    margin: 0.2rem;
    display: flex;
}

.container div{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: repeat(3, auto) 1fr; 
    grid-gap: 10px;
    justify-items: center;
    color: white;
    font-size: 1.5rem;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    
}

.container div a img{
   height: 100%;
   width: 100%;
   object-fit:cover ;
}

.container h1{
    display: flex;
    align-items: center;
    text-size-adjust:inherit;
}


/*Footer de la pagina web*/

.footer{
    margin-top:50px;
    width:100%;
    height:100px;
    background-color:red;
    color: whitesmoke;
}