@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0.2rem;
    padding: 0;
    border: 0;
    @import 'package:google_fonts/google_fonts.dart';
}
body{
    background-image: url(https://res.cloudinary.com/dzoewfn82/image/upload/v1747186589/samples/man-on-a-street.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #D3141A;
}
/*Header Principal*/
header{
    background-color: #D3141A;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}

.rombo {

  margin: 0;
  width: 30px; 
  height: 30px; 
  background-color: #D3141A; 
  transform: rotate(45deg);
  border: 0.15rem solid white;
  border-radius: 5px;
  display: flex;
}

header h1{    
    text-align: center;
    align-content: center;
    /*background: #0A0D38;
    background: linear-gradient(90deg,rgba(10, 13, 56, 1) 0%, rgba(87, 115, 199, 1) 50%, rgba(10, 13, 56, 1) 100%);*/
    
    padding: 1%;
    font-size: 3rem;
}

header div input{
    display: flex ;
    height: 1rem;
    width: 24rem;
    padding: 0.8rem 8rem;
    border-radius: 10px;
    border-style: groove;
}

input[type="text"]::placeholder {
  text-align: left;
}

/*Cuerpo de la pagina*/
section{
    display: block;
}

.banner{
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 1%;
    color: white;
    font-size: 4rem;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%)
}

a{
    color: white;
}

a:hover{
    color: #1E8449;
}

.container{
    margin: 0.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    justify-items: center;
}

.container div{
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.5rem;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    
}

.panel{
    background-color: #020024;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.panel:nth-child(4){
    grid-column: 0 / span 3;
}

.container div img{
   height: 25vw;
   width: 25vw;
   object-fit: fill ;
}


.container h1{
    display: flex;
    align-items: center;
    text-size-adjust:inherit;
    justify-content: space-around;
}


/*Footer de la pagina web*/

.footer{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top:50px;
    width:100%;
    height:100px;
    background-color:red;
    color: whitesmoke;
}